
# PlanAhead Generated physical constraints 

NET "segment_common[3]" LOC = P44;
NET "segment_common[2]" LOC = P43;
NET "segment_common[1]" LOC = P33;
NET "segment_common[0]" LOC = P30;
NET "segment_out[7]" LOC = P41;
NET "segment_out[6]" LOC = P40;
NET "segment_out[5]" LOC = P35;
NET "segment_out[4]" LOC = P34;
NET "segment_out[2]" LOC = P29;
NET "segment_out[1]" LOC = P27;
NET "segment_out[0]" LOC = P26;
NET "segment_out[3]" LOC = P32;
NET "win[3]" LOC = P56;
NET "win[2]" LOC = P57;
NET "win[1]" LOC = P58;
NET "win[4]" LOC = P55;
NET "win[0]" LOC = P59;
NET "strikeLED[1]" LOC = P67;
NET "strikeLED[0]" LOC = P74;
NET "strike[4]" LOC = P112;
NET "strike[3]" LOC = P111;
NET "strike[2]" LOC = P105;
NET "strike[1]" LOC = P104;
NET "strike[0]" LOC = P102;
NET "clk" LOC = P123;
NET "reset" LOC = P45;
NET "start" LOC = P46;
NET "toggleTimerSerial" LOC = P47;
NET "enableGame[4]" LOC = P5;
NET "enableGame[3]" LOC = P7;
NET "enableGame[2]" LOC = P9;
NET "enableGame[1]" LOC = P11;
NET "enableGame[0]" LOC = P14;
NET "resetModule[4]" LOC = P6;
NET "resetModule[3]" LOC = P8;
NET "resetModule[2]" LOC = P10;
NET "resetModule[1]" LOC = P12;
NET "resetModule[0]" LOC = P15;
NET "sec2_bigButton[3]" LOC = P124;
NET "sec2_bigButton[2]" LOC = P127;
NET "sec2_bigButton[1]" LOC = P132;
NET "sec2_bigButton[0]" LOC = P134;
NET "randomMode[7]" LOC = P126;
NET "randomMode[6]" LOC = P131;
NET "randomMode[5]" LOC = P133;
NET "randomMode[4]" LOC = P137;
NET "randomMode[3]" LOC = P139;
NET "randomMode[2]" LOC = P141;
NET "randomMode[0]" LOC = P2;
NET "randomMode[1]" LOC = P143;
