

NET "button" LOC = P11;
NET "clk" LOC = P123;
NET "reset" LOC = P7;
NET "start" LOC = P5;
NET "toggleTimerSerial" LOC = P9;
NET "winLED" LOC = P104;
NET "win[3]" LOC = P14;
NET "win[2]" LOC = P16;
NET "win[1]" LOC = P21;
NET "win[0]" LOC = P23;
NET "segment_out[7]" LOC = P124;
NET "segment_out[6]" LOC = P127;
NET "segment_out[5]" LOC = P132;
NET "segment_out[4]" LOC = P134;
NET "segment_out[3]" LOC = P138;
NET "segment_out[2]" LOC = P140;
NET "segment_out[1]" LOC = P142;
NET "segment_out[0]" LOC = P1;

# PlanAhead Generated physical constraints 

NET "segment_common[3]" LOC = P126;
NET "segment_common[2]" LOC = P131;
NET "segment_common[1]" LOC = P133;
NET "segment_common[0]" LOC = P137;
NET "strike[3]" LOC = P139;
NET "strike[2]" LOC = P141;
NET "strike[1]" LOC = P143;
NET "strike[0]" LOC = P2;
NET "strikeLED[1]" LOC = P15;
NET "strikeLED[0]" LOC = P17;
NET "resetModule[3]" LOC = P99;
NET "resetModule[2]" LOC = P100;
NET "resetModule[1]" LOC = P101;
NET "resetModule[0]" LOC = P102;
NET "randomMode[5]" LOC = P116;
NET "randomMode[4]" LOC = P117;
NET "randomMode[3]" LOC = P118;
NET "randomMode[2]" LOC = P119;
NET "randomMode[1]" LOC = P120;
NET "randomMode[0]" LOC = P121;
NET "enableGame[3]" LOC = P6;
NET "enableGame[2]" LOC = P8;
NET "enableGame[1]" LOC = P10;
NET "enableGame[0]" LOC = P12;
